@model IEnumerable<RecipAppMVC.Models.RecipModel>

@{
    ViewData["Title"] = "Index";
}


<h1 style="text-align: center;">Elektroniczna Książka Kucharska</h1>
<p class="button-container">
    <a asp-action="Create" class="create-new-button">Dodaj Przepis</a>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Ulubione", "Index", new { flage = 1 }, new { @class = "create-new-button" })
    }
</p>

<div class="recipe-container">
    @foreach (var item in Model)
    {
        <div class="recipe-box">

            <div class="recipe-details">
                <h3>@item.Name</h3>
            </div>

            <div class="recipe-image">
                <img src="@item.ImgUrl" alt="Recipe Image" />
            </div>

            <div class="recipe-actions">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="edit-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="delete-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="like-link" asp-action="Like" asp-route-id="@item.Id">Like</a>
                }
                <a class="details-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>

        </div>
    }
</div>



<style>
    .recipe-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .recipe-box {
        width: 300px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
    }

    .recipe-details h3 {
        text-align:center;
        margin-top: 0;
    }

    .recipe-image {
        height: calc(100% - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .recipe-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .recipe-actions {
        text-align: center;
        padding: 10px;
        background-color: #f7f7f7;

    }

    .edit-link,
    .details-link,
    .delete-link {
        display: inline-block;
        margin-right: 10px;
    }
    .create-new-button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #57c95f;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
    }

    .create-new-button:hover {
        background-color: #4fb654;

    }

    .button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-new-button {
  /* Add your button styling here */
  margin-right: 20px;
}
</style>